*{
    margin: 0;
    padding: 0;
    
}

body{   
    display: flex;
}
.wrapper{
    padding: 4px;
    height: 1200px;
    width: 50px;
    display: flex;
    flex-direction: column;
    background: rgb(131,58,180);
    background: linear-gradient(159deg, rgba(131,58,180,1) 0%, rgba(253,29,29,0.8982143882943803) 50%, rgba(252,176,69,1) 100%);
    border-radius: 5px;  
    border-right:3px solid #2f2f2f ;
}
#canvas{
    border: 1px solid #333;
    background-color: #f0f3f9;
}
.size{
    border-radius: 4px;
    font-size: 30px;
    text-align: center;
    background-color: #ffffff;
    color: #333;
    height: 50px;
}
button{
    height: 40px;
    outline: none;
    margin-top:10px ;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 4px;
    display: block;
}
button:hover{
    opacity: .7;
}
input{
    height: 40px;
}
.save{
    border-radius: 4px;
    height: 40px;font-size: 30px;
    text-align: center;background-color: #333;
    color: azure;
}
input[type="file"]{
display: none;
}
label{

    font-size: large;
    height: 40px;
    text-align: center;
    background-color: #ffffff;
    color: #333;
}